@page
@model IndexModel
@{
    ViewData["Title"] = "Sacrament Meeting Planner - Home";
}

<div class="image-container">
    <img src="~/images/jesus_christ.jpeg" alt="Jesus Christ" width="100%" />
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm border">
            <p class="card-text">
                Sacrament Meeting Planner is an application that
                assists the bishopric and music personnel to plan.

                Bishoprics and branch presidencies preside and are
                responsible for both the spirit and the content of
                these meetings.

                Sacrament meetings can be planned and conducted to
                help us remember the Lord and His Atonement.
            </p>
        </div>
        <div class="col-sm border">
            <p class="card-text">
                Sacrament meeting is the one ward or branch meeting
                that we attend as a family—the basic unit of the Church.
                We attend, as the Lord commanded, to receive the sacrament
                and renew our covenants.

                -- President Russell M. Nelson
            </p>
            <p>
                @*                    <a href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro" class="stretched-link">See the tutorial</a>
                *@
            </p>
        </div>
    </div>
</div>