@page
@model IndexModel
@{
    ViewData["Title"] = "Sacrament Meeting Planner - Home";
}

<div class="image-container">
    <img src="~/images/jesus_christ.jpeg" alt="Jesus Christ" width="100%" />
</div>

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Sacrament Meeting Planner is an application that
                    assists the bishopric and music personnel to plan. 

                    Bishoprics and branch presidencies preside and are 
                    responsible for both the spirit and the content of 
                    these meetings. 

                    Sacrament meetings can be planned and conducted to 
                    help us remember the Lord and His Atonement.
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Sacrament meeting is the one ward or branch meeting that we attend as a family—the basic unit of the Church. We attend, as the Lord commanded, to receive the sacrament and renew our covenants.

                    He instituted the sacrament to remind us of His Atonement. As a final and specially prepared Passover supper was ending, Jesus took bread, blessed and broke it, and gave it to His Apostles, saying, “Take, eat” (Matt. 26:26). “This is my body which is given for you: this do in remembrance of me” (Luke 22:19). Then He took the cup, said a blessing of thanks, and passed it to those gathered about Him, saying, “This cup is the new testament in my blood” (Luke 22:20), “which is shed … for the remission of sins” (Matt. 26:28). “This do … in remembrance of me. For as often as ye eat this bread, and drink this cup, ye do [proclaim] the Lord’s death” (1 Cor. 11:25–26). In this way, He linked the sacrament to His impending Crucifixion.

                    God had declared, “This is my work and my glory—to bring to pass the immortality and eternal life of man” (Moses 1:39). Then the Son of God voluntarily laid down His life to complete the will of His Father. Thus, immortality became a reality and eternal life a possibility for all who would ever live upon the earth.

                    -- President Russell M. Nelson
                </p>
                <p>
                    @*                    <a href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro" class="stretched-link">See the tutorial</a>
                    *@
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    You can download the completed project from GitHub.
                </p>
                <p>
                    @*                    <a href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-rp/intro/samples" class="stretched-link">See project source code</a>
                    *@
                </p>
            </div>
        </div>
    </div>
</div>