@page
@model SacramentMeetingPlanner.Pages.Meetings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                <input asp-for="Meeting.MeetingDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Conducting" class="control-label"></label>
                <select asp-for="Meeting.Conducting" name="conducting" class="form-control">
                    <option value="Bishop">Bishop Clifford Duke</option>
                    <option value="Counselor1">Ethan Arredando, 1st Counselor</option>
                    <option value="Counselor2">Jim Elliot, 2nd Counselor</option>
                </select>
                <span asp-validation-for="Meeting.Conducting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.NumSpeakers" class="control-label"></label>
                <input asp-for="Meeting.NumSpeakers" class="form-control" />
                <span asp-validation-for="Meeting.NumSpeakers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
